<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>StreamKindom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  	<div>
 		Herzlich willkommen, <span th:text="${session.user.displayName}"></span>! Du bist ein <span th:text="${session.user.broadcasterType}"></span>
 		<span th:if="${session.user.broadcasterType == 'affiliate' || session.user.broadcasterType == 'partner'}">VERWALTEN</span>
 		<span>WÄHLENT</span>
  	</div>
  	<div>
  		<img th:src="${session.user.profileImageUrl}"/>
  	</div>
  </body>
</html>